
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Keyboard
Comment=Launch a Virtual Keyboard
Categories=Application;
Exec=/usr/bin/onboard
Icon=keyboard
Terminal=false
StartupNotify=true
