
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Terminal
Comment=Terminal Emulator
Categories=Application;
Exec=xfce4-terminal
Icon=Terminal
Terminal=false
StartupNotify=false
